// .salonTemplate {
//   display: grid;
//   grid-template-columns: repeat(8, 1fr);
//   grid-template-rows: repeat(8, .25fr);
//   grid-column-gap: 35px;
//   grid-row-gap: 35px;

//   width: 50%;
//   height: 90%;
//   margin: 0 auto;
// }


.salonTemplate {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 80%;
  max-height: 900px;
  margin: 15px auto;
}
// .parent {
// display: grid;
// grid-template-columns: repeat(10, 1fr);
// grid-template-rows: repeat(8, 1fr);
// grid-column-gap: 3px;
// grid-row-gap: 3px;
// }

// .div1 { grid-area: 1 / 6 / 7 / 9; }
// .div2 { grid-area: 2 / 3 / 5 / 6; }
// .div3 { grid-area: 1 / 1 / 5 / 3; }
// .div4 { grid-area: 5 / 4 / 9 / 6; }
// .div5 { grid-area: 1 / 9 / 5 / 11; }
// .div6 { grid-area: 5 / 9 / 9 / 11; }
// .div7 { grid-area: 7 / 6 / 9 / 9; }
// .div8 { grid-area: 5 / 1 / 7 / 4; }
// .div9 { grid-area: 7 / 2 / 9 / 4; }