@import '../../index.scss';

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .logo-container {
    width: 4em;
    text-align: center;
    @include headerButton;
    font-size: 31px;
    z-index: 1;

    &:hover {
      @include hoverButton;
      margin-top: -2px;
    }
  }

  h1 {
    @include headerButton;
    font-size: 31px;
    
    &:hover {
      @include hoverButton;
    }
  }

  .user-buttons {
    visibility: none;
    height: 1em;
  }

  .favorites-button {
    @include headerButton;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 800;
    padding: 1vw;
    height: 2em;

    &:hover {
      @include hoverButton;
      margin-top: 2px;
      font-size: 15px;
    }
  }

}

// MEDIA - HANDHELD
@media only screen and (max-width: 700px) {
  
  .logo-container {
    font-size: 20px !important;
  }

  .user-buttons {
    margin-bottom: 3em;
  }
}