* {
  // border: 1px solid red;
}

.art-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.details-image {
  height: 90%;
  max-height: 76vh;
  width: auto;

  // margin-top: 1%;
}

aside {
  color: #897C80;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  //border: 1px solid black;
  padding-bottom: 1em;
}

aside > h3,
aside > p {
  width: 90%;
}

@media only screen and (max-width: 1050px) {
  .art-details {
    flex-direction: column;
  }

  .details-image {
    max-width: 61%;
    width: auto;
    height: auto;
    //margin-bottom: 3%;
  }

  aside {
    width: 90%;
    font-size: 2.1vh;
    margin-top: 1vh;
    margin-left: 22vw;
  }
}

@media only screen and (max-width: 750px) {
  .details-image {
    width: 60em;
    height: 30em;
    
  }
  aside {
    background-color: #BA8F95;
    margin-left: 0;
    text-align: center;
    width: 100%;
    margin-top: 0;
    height: 9em;
    color: #08090A;
    padding-left: 2em;
  }
}